<table class="table table-stripped">
  <thead class="center" >
    <th>index</th>
    <th>Title</th>
    <th>Detail</th>
    <th>Attachment</th>
    <th>Start Date</th>
    <th>Deadline Date</th>
    <th>Status</th>
    <th>Manage</th>
  </thead>
  <tbody>
    <ng-container *ngIf="TasksFetched">
       <ng-container  *ngFor="let Task of TasksFetched; let index=index">
        <tr class="center" [ngClass]="editToggle[index]===1?'editEnable':'editDisable'">
        <td>{{index+1}}</td>
        <td>{{Task.title|titlecase}}</td>
        <td>{{Task.detail|titlecase}}</td>
        <td><img class="image" alt="Not Image"  [src]="dataUrl+Task.attachment"></td>
        <td>{{Task.startdate|titlecase|date}}</td>
        <td>{{Task.enddate|titlecase|date}}</td>
        <td class="center" >
          <ng-container *ngIf="editToggle[index]==0">
          <select class="center field">
            <ng-container *ngFor="let Button of taskStatuses">
            <option value="{{Button.value}}" *ngIf="Task.taskstatus===Button.value" [selected]="Task.taskstatus===Button.value">{{Button.name}}</option>
          </ng-container>

          </select>
        </ng-container>
          <ng-container *ngIf="editToggle[index]==1">
            <select class="center field" (change)="statusChanged($event.target,Task._id,index)">
              <ng-container *ngFor="let Button of taskStatuses">
              <option value="{{Button.value}}" [selected]="Task.taskstatus?Task.taskstatus===Button.value:Button.value===0">{{Button.name}}</option>
            </ng-container>
            </select>
          </ng-container></td>
        <td><button class="gears" (click)="editTasks(index)">⚙️ Status</button>
            <button style="font-weight: bold;" class="gears" (click)="redirectRoute(index,Task._id)">Edit</button><span>&nbsp;</span>
            <button class="gears" (click)="deleteTasks(index,Task._id)" style="font-weight: bold;">Delete</button></td>

        </tr>
        </ng-container>
    </ng-container>
  </tbody>
</table>
