
<div class='form-center'>
  <form class="form " [formGroup]="InputTasks" (ngSubmit)="Post()">
    <div form-control-row form-center class="border">
      <br>
      <div class="form-control-col form-center title">Input Tasks</div>
      <br>
      <div class="form-control-col form-center">
        <span *ngIf="InputTasks.invalid && ErrorToggle" class="field"
          style="color: red;">Fields Are Neccessary</span>
      </div>
      <div class="form-control-col form-center">
        <img class="image" [src]="this.DataPassed.taskAttachment">
      </div>
      <br>
      <div class="form-control-col form-center">
        <input type="text" placeholder="Task Title !" class="field" formControlName="taskTitle">
      </div>
      <div class="form-control-col form-center">
        <span *ngIf="InputTasksControl.taskTitle.invalid&&InputTasksControl.taskTitle.touched" class="field"
          style="color: red;">Enter Valid Data</span>
      </div>
      <br>
      <div class="form-control-col form-center">
        <textarea placeholder="Task Details " class="field" formControlName="taskDetail"></textarea>
      </div>
      <div class="form-control-col form-center">
        <span *ngIf="InputTasksControl.taskDetail.invalid&&InputTasksControl.taskDetail.touched" class="field"
          style="color: red;">Enter Valid Data</span>
      </div>
      <div class="form-control-col form-center">
        <input type="file" class="field file" style="width: 208px;margin-top: 10px;" formControlName="taskAttachment"
          (change)='readFileSize($event)'>

      </div>
      <br>
      <div class="form-control-col form-center">
        <input type="text" disabled placeholder="Starting" style="width:70px; text-align: center;">
        <input type="date" placeholder="Start Date" class="field" formControlName="taskStarting">
      </div>
      <div class="form-control-col form-center">
        <span *ngIf="InputTasksControl.taskStarting.invalid&&InputTasksControl.taskStarting.touched" class="field"
          style="color: red;">Enter Valid Data</span>
      </div>
      <br>
      <div class="form-control-col form-center">
        <input type="text" disabled placeholder="Deadline" style="width:70px; text-align: center;">
        <input type="date" placeholder="Deadline" class="field" formControlName="taskDeadline">
      </div>
      <div class="form-control-col form-center">
        <span *ngIf="InputTasksControl.taskDeadline.invalid&&InputTasksControl.taskDeadline.touched" class="field"
          style="color: red;">Enter Valid Data</span>
      </div>
      <br>
      <div class="form-control-col form-center">
        <button *ngIf="!InputTasks.invalid" class='btn btn-success' type='submit'>{{ButtonTittle}}</button>
        <button *ngIf="InputTasks.invalid" class='btn btn-success' type="button" (click)="ErrorToggler()">{{ButtonTittle}}</button>
      </div>
    </div>

  </form>
</div>
